params {
    input = '/input/ampliseq/input.tsv'
    metadata = '/input/ampliseq/Metadata.tsv'
    dada_ref_databases.'gtdb=R07-RS207'.file = [ "/input/ampliseq/reference/bac120_ssu_reps_r207.tar.gz", "/input/ampliseq/reference/ar53_ssu_reps_r207.tar.gz" ]
    dada_ref_databases.gtdb.file = [ "/input/ampliseq/reference/bac120_ssu_reps_r207.tar.gz", "/input/ampliseq/reference/ar53_ssu_reps_r207.tar.gz" ]
    qiime_ref_databases.greengenes85.file = [ "/input/ampliseq/reference/85_otus.fasta", "/input/ampliseq/reference/85_otu_taxonomy.txt" ]
}