params {
    
    input = '/input/rnaseq/samplesheet_test.csv'

    // Genome references
    fasta              = '/input/rnaseq/reference/genome.fasta'
    gtf                = '/input/rnaseq/reference/genes.gtf.gz'
    gff                = '/input/rnaseq/reference/genes.gff.gz'
    transcript_fasta   = '/input/rnaseq/reference/transcriptome.fasta'
    additional_fasta   = '/input/rnaseq/reference/gfp.fa.gz'
    bbsplit_fasta_list = '/input/rnaseq/reference/bbsplit_fasta_list.txt'
    hisat2_index       = '/input/rnaseq/reference/hisat2.tar.gz'
    salmon_index       = '/input/rnaseq/reference/salmon.tar.gz'
    rsem_index         = '/input/rnaseq/reference/rsem.tar.gz'

}