params {

    input = '/input/sarek/input.csv'
    igenomes_base   = 's3://ngi-igenomes/igenomes'
    fasta = '/input/sarek/reference/genome.fasta'
    dbsnp = '/input/sarek/reference/dbsnp_146.hg38.vcf.gz'
    germline_resource = '/input/sarek/reference/gnomAD.r2.1.1.vcf.gz'
    known_indels = '/input/sarek/reference/mills_and_1000G.indels.vcf.gz'
    intervals = '/input/sarek/reference/genome.interval_list'

}