params {

    input = '/input/viralrecon/input.csv'
    kraken2_db = '/input/viralrecon/reference/kraken2_hs22.tar.gz'
    fasta = '/input/viralrecon/reference/nCoV-2019.reference.fasta'
    gff = '/input/viralrecon/reference/GCA_009858895.3_ASM985889v3_genomic.200409.gff.gz'
    primer_bed = '/input/viralrecon/reference/nCoV-2019.primer.bed'
    nextclade_dataset = '/input/viralrecon/reference/nextclade_sars-cov-2_MN908947_2022-06-14T12_00_00Z.tar.gz'

}